
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Tikiii.Models.BookModel
<div class="row">
    <h2>Edit</h2>
    <form action="/Book/Edit/@Model.id" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="">Tên Sách</label>
            <input type="text" class="form-control" id="" placeholder="vd : Cuộc Sống Không Giống Cuộc Đời" name="title" value="@Model.title">
            @Html.ValidationMessageFor(m => m.title)
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Tên Tác Giả</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="vd : Việt Hoàng Trần" name="author" value="@Model.author">
            @Html.ValidationMessageFor(m => m.author)
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Mô Tả Ngắn</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description">
                @Model.description
            </textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Giá Bán</label>
            <input type="number" class="form-control" id="" name="price" value="@Model.price">
            @Html.ValidationMessageFor(m => m.price)
        </div>
        <button type="submit" class="btn btn-primary mb-2">Cập Nhật</button>
    </form>
</div>


